<!DOCTYPE html>
<html>
<style>
  body {	
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/f/fe/900-158_Ahnentafel_Herzog_Ludwig.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
  }	
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2>My Family History List</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="20" placeholder="Person">
    <input type="text" ng-model="father" size="20" placeholder="Father">
    <input type="text" ng-model="mother" size="20" placeholder="Mother">
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<script>
var app = angular.module('myApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{todoText:'Person, Father, Mother', done:false}];

    $scope.todoAdd = function() {
        $scope.todoList.push({todoText:$scope.todoInput + ", " + $scope.father + ", " + $scope.mother, done:false});
        $scope.todoInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.todoList;
        $scope.todoList = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.todoList.push(x);
        });
    };
});
</script>

</body>
</html>

